@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
// Fonts
$mainFont: 'Roboto', sans-serif;



// Text size
$textSm: .8rem;
$textMd: 1rem;
$textLg: 2rem;
$textXl: 3rem;
$textXxl: 4rem;


// Font
$textBold:500;
$textLight:300;
$textRegular:400;


// Text
$textCenter: center;
$textLeft: left;
$textRight: right;
