nav{
	background-color: $black;
	padding: 5px 0px;
	top: 0;
	position: fixed;
	width: 100%;
	height: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	ul{
		list-style: none;
		display: flex;
		padding-right: 40px;
		li{
			margin: 0px 5px;
			a{
				color: $white;
				text-decoration: none;
				font-size: $textLg;
				margin-left: 15px;

				
			}
		}
	}
}
.imgLogo{
	width: 90px;
}
.imgHeader{
	width: 100%;
	height: 90vh;
	margin: 0px;
	padding-top:60px;
}
